# Dependencies
node_modules
.pnp
.pnp.*

# Next.js
.next
out

# Environment
.env
.env*.local

# Debug logs
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea

# TypeScript
*.tsbuildinfo
next-env.d.ts
